
<html>

<head>
    <title>STL Search</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='view_stl/stl_viewer.min.js') }}"></script>
</head>

<body>
    <div class="container" style="margin-top: 35px;">
        <div class="main">
            <h3>hello</h3>
            <p>This app lets you search for STL files and view them</p>
            <form method="GET" action="/search">
                <div class="input-group input-group-lg">
                    <input type="text" name="s" class="form-control" id="searchStr" aria-label="Large" placeholder="search term" aria-label="search term" value="{% if searchStr %}{{ searchStr }}{% endif %}">
                    <button class="btn btn-lg btn-outline-secondary" type="submit" id="searchBtn" value="Submit">Search</button>
                </div>
                <div id="filters">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="suppt" type="checkbox" value="suppt" id="showSupported" {% if showSupported %}checked{% endif %}>
                        <label class="form-check-label" for="showSupported">Show Supported?</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="bases" type="checkbox" value="bases" id="showBases" {% if showBases %}checked{% endif %}>
                        <label class="form-check-label" for="showBases">Show Bases?</label>
                    </div>
                </div>
            </form>
            <div class="stlviewer" id="stl_cont" style="width: 100%; height: 600px; display: none; border: 1px solid black; margin: 0 auto;"></div>
            <div class="progress stlviewer" style="display: none;">
                <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
            </div>
        </div>

        {% if results %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Zip File</th>
                    <th scope="col">STL File</th>
                    <th scope="col">File Size</th>
                    <th scope="col">View STL</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr class="collapse show" id="row{{ loop.index }}">
                    <td>{{ result.zipfile }}</td>
                    <td>{{ result.stlfile }}</td>
                    <td>{{ result.filesize }}</td>
                    <td><button class='btn btn-link' onclick='{{ "loadstl(this, \""+ result.zipfile +"\", \""+ result.stlfile + "\")" }}'>View Stl</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</body>

</html>