<html>
<head>
    <title>STL Word Cloud</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="container" style="margin-top: 35px;">
        <div class="main">
        {% if data %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Word</th>
                        <th scope="col">Count</th>
                        <th scope="col">Percent</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                    <tr class="collapse show" id="row{{ loop.index }}">
                        <td>{{ d.x }}</td>
                        <td>{{ d.value }}</td>
                        <td>{{ (d.value / (data|length)) * 100 }}%</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        </div>
    </div>
</body>
</html>