<html>
<head>
    <title>STL Word Cloud</title>  
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
    <style>
        html, body, #container {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>    
</head>
<body>
    <div id="container"></div>
    <script>
    anychart.onDocumentReady(function() {
        var data = [{% for d in data %}{x:"{{d.x}}",value:"{{d.value}}"},{% endfor %}];

        var total = {{ data|length }};

        var chart = anychart.tagCloud(data);

        chart.title('Total Counts in Cloud: ' + total);
        chart.angles([0]);

        var customColorScale = anychart.scales.linearColor();
        customColorScale.colors(["#ffcc00", "#00ccff"]);

        // set the color scale as the color scale of the chart
        chart.colorScale(customColorScale);

        // add a color range
        chart.colorRange().enabled(true);

        chart.container("container");
        chart.draw();

        // add an event listener
        chart.listen("pointClick", function(e){
            var url = "/search?s=" + e.point.get("x");
            window.open(url, "_blank");
        });
    });
    </script>
</body>
</html>